<div id= "show">
  <div id= "show_body">
    <% if @post.publish==true%>
    <p class="show_details">
      <b>Title:</b>
      <%= @post.title %>
    </p>

    <p class="show_details">
      <b>Description:</b>
      <%= @post.description %>
    </p>

    <p class="show_details">
      <b>Posted By:</b>
      <%= @post.postedby %>
    </p>

    <p class="show_details">
      <b>Posted Time:</b>
      <%= @post.posted_time.to_formatted_s(:short) %>
    </p>

    <p class="show_details">
      <b>Number of likes:</b>
      <%= @post.no_of_likes %>
    </p>

    <p class="show_details">
      <%= link_to 'Like This', post_like_path(@post) %>
    </p>

  </div>
  <div id="comment">
    <% @post.comments.each do |comment| %>
    <div class="comment_each">
      <p class="comment_details">
        <b>Commented By:</b>
        <%= comment.commented_by %>
      </p>
      <p class="comment_details">
        <b>Comment:</b>
        <%= comment.comment_body %>
      </p>
      <p class="comment_details">
        <%= comment.created_at.to_formatted_s(:short) %>
      </p>
      <%= link_to "Delete", post_comment_path(@post,comment), :method => :delete, :confirm => "Do you really want to destroy?"%>
    </div>
    <% end %>

    <% end %>
  </div>
  <div id="comment_form">
    <%= render('comment/form')%>
  </div>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
</div>
