<header>Post Listing</header>
<div id="post_container">
  <ul type="none">
    <% @posts.each do|post| %>
    <li>
      <h2><%= post.title %></h2>
    </li>
    <li>
      <p><%= post.description %></p>
    </li>
    <li>
      <p><%= post.postedby %></p><p><%= post.posted_time %></p>
    </li>
    <%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  </ul>
<%= link_to 'Post New Blog', new_post_path %>
</div>